<!-- Import Polymer -->
<link rel="import" href="../polymer/polymer.html">

<polymer-element name="ui-treeview-collapsible" attributes="expanded inline">
  <template>
    <style>
      #title {

      }
      :host > div > #body {
        display:none;
      }
      :host > div > #title > #caret {
        vertical-align: center;
        display:inline-block;
        width:8px;
      }

      :host > .expanded > #body {
        margin-left:1em;
        display:block;
      }
      :host > .expanded > #title > .collapsed-indicator {
        display:none;
      }
      :host > .inline > #title > .collapsed-indicator {
        display:none !important;
      }
      :host > .inline #body {
        margin-left:0;
        display:inline-block;
      }
      .inline #caretSvg {
        opacity:0;
      }
      :host > div > #title > #caret > #caretSvg {
        transform:  translate(2px,1px);
      }
      :host > .expanded > #title > #caret > #caretSvg {
        transform:  translate(2px,1px) rotate(90deg);
        /*-webkit-transform:  rotate(90deg);*/
      }


    </style>
    <div class="{{ { collapsible: true, inline: inline, expanded: expanded } | tokenList}}">
      <span id="title" on-click="{{ toggle }}">
        <span id="caret">
          <svg xmlns="http://www.w3.org/2000/svg" id="caretSvg" width="14" height="14" viewBox="0 0 14 14">
            <path d="M0 0v16l6-6-6-6z" transform="translate(4,-3)" />
          </svg>
        </span>
        <content select=".title"></content>
        <span class="collapsed-indicator">
          <content select=".indicator"></content>
        </span>
      </span>
      <div id="body"">
        <content select=".body"></content>
      </div>
    </div>
  </template>
  <script>
    Polymer('ui-treeview-collapsible', {
      expanded:false,
      inline:false,
      toggle: function() {
        this.$.body.classList.toggle('expanded', this.expanded = !this.expanded);
      },
    });
  </script>
</polymer-element>

<polymer-element name="ui-treeview-object" attributes="data expanded">
  <template>
    <style>

    </style>
      <template repeat="{{key in keys(data)}}">

        <template if="{{ isObject(data[key]) }}">
          <ui-treeview-collapsible expanded?={{expanded}}>
            <span class="title key">
              {{key}}:
            </span>
            <span class="indicator">{...}</span>
            <div class="body value">
              <ui-treeview-object data="{{data[key]}}" expanded?={{expanded}}></ui-treeview-object>
            </div>
          </ui-treeview-collapsible>
        </template>
        <template if="{{ isArray(data[key]) }}">
          <template if="{{!data[key].length}}">
            <ui-treeview-collapsible expanded inline>
              <span class="title key">
                {{key}}:
              </span>
              <div class="body value">
                []
              </div>
            </ui-treeview-collapsible>
          </template>
          <template if="{{data[key].length}}">
            <ui-treeview-collapsible expanded?={{expanded}}>
              <span class="title key">
                {{key}}:
              </span>
              <span class="indicator">[...]</span>
              <div class="body value">
                <ui-treeview-array data="{{data[key]}}" expanded?={{expanded}}></ui-treeview-array>
              </div>
            </ui-treeview-collapsible>
          </template>
        </template>
        <template if="{{ isSimple(data[key]) }}">
          <ui-treeview-collapsible expanded inline>
            <span class="title key">
              {{key}}:
            </span>
            <span class="indicator">...</span>
            <ui-treeview-simple data="{{data[key]}}" class="body value"></ui-treeview-simple>
          </ui-treeview-collapsible>
        </template>
      </template>
  </template>
  <script>
    Polymer('ui-treeview-object', {
      expanded:false,
      data: {},
      isObject: function(obj){return typeof obj === 'object' && !(obj instanceof Array)},
      isArray: function(obj){return obj instanceof Array},
      isSimple: function(obj){return !this.isObject(obj) && !this.isArray(obj)},
      keys: function(obj){return Object.keys(obj)},
      stringify : function(obj){return JSON.stringify(obj)}
    });
  </script>
</polymer-element>

<polymer-element name="ui-treeview-array" attributes="data expanded">
  <template>
      <template repeat="{{value,i in data}}">
        <template if="{{ isObject(value) }}">
          <ui-treeview-collapsible expanded?={{expanded}}>
            <span class="title key">
            {{i}}:
            </span>
            <span class="indicator">{...}</span>
            <div class="body value">
              <ui-treeview-object data="{{value}}" expanded?={{expanded}}></ui-treeview-object>
            </div>
          </ui-treeview-collapsible>
        </template>
        <template if="{{ isArray(value) }}">
          <template if="{{!value.length}}">
            <ui-treeview-collapsible expanded inline>
            <span class="title key">
            {{i}}:
            </span>
              <span class="indicator">[...]</span>
              <div class="body value">
                [ ]
              </div>
            </ui-treeview-collapsible>
          </template>
          <template if="{{value.length}}">
            <ui-treeview-collapsible expanded?={{expanded}}>
            <span class="title key">
            {{i}}:
            </span>
              <span class="indicator">[...]</span>
              <div class="body value">
                <ui-treeview-array data="{{value}}" expanded?={{expanded}}></ui-treeview-array>
              </div>
            </ui-treeview-collapsible>
          </template>
        </template>
        <template if="{{ isSimple(value) }}">
          <ui-treeview-collapsible expanded inline>
            <span class="title key">
            {{i}}:
            </span>
            <span class="indicator">...</span>
            <ui-treeview-simple data="{{value}}" class="body value"></ui-treeview-simple>
          </ui-treeview-collapsible>
        </template>
      </template>
  </template>
  <script>
    Polymer('ui-treeview-array', {
      expanded:false,
      data: {},
      isObject: function(obj){return typeof obj === 'object' && !(obj instanceof Array)},
      isArray: function(obj){return obj instanceof Array},
      isSimple: function(obj){return !this.isObject(obj) && !this.isArray(obj)},
      keys: function(obj){return Object.keys(obj)},
      stringify : function(obj){return JSON.stringify(obj)}
    });
  </script>
</polymer-element>

<polymer-element name="ui-treeview-simple" attributes="data">
  <template>
    <span class="value">
      <template if="{{isString(data)}}">
        <span class="string">
        "{{data}}"
        </span>
      </template>
      <template if="{{isNumber(data)}}">
        <span class="number">
        {{data}}
        </span>
      </template>
      <template if="{{isOther(data)}}">
        <span class="other">
        {{data}}
        </span>
      </template>
    </span>
  </template>
  <script>
    Polymer('ui-treeview-simple', {
      data: {},
      isString: function(obj) {
        return typeof obj === 'string';
      },
      isNumber: function(obj){
        return typeof obj === 'number';
      },
      isOther: function(obj) {
        return !this.isNumber(obj) && !this.isString(obj);
      }
    });
  </script>
</polymer-element>

<!-- Define your custom element -->
<polymer-element name="ui-treeview" attributes="data expanded">
  <template>
    <style>
      :host {
        display:block;
      }
      ::shadow /deep/ .title:hover {
        background-color:hsl(230,50%,85%);
        cursor:pointer;
      }
      ::shadow /deep/ * {
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        font-size:16px;
      }
      ::shadow /deep/ .key {
        color:#606aa1;
      }
      ::shadow /deep/ .value .other {
        color: rgb(50, 47, 51);
      }
      ::shadow /deep/ .value .string {
        color: rgb(218, 86, 74);
      }
      ::shadow /deep/ .value .number {
        color: rgb(70, 135, 184);
      }
    </style>
    <template if="{{ isObject(data) }}">
      <ui-treeview-object data="{{data}}" expanded?={{expanded}}></ui-treeview-object>
    </template>
    <template if="{{ isArray(data) }}" expanded?={{expanded}}>
      <ui-treeview-array data="{{data}}"></ui-treeview-array>
    </template>
    <template if="{{ isSimple(data) }}">
      <ui-treeview-simple data="{{data}}"></ui-treeview-simple>
    </template>

  </template>
  <script>
    Polymer('ui-treeview', {
      expanded: false,
      object: {},
      isObject: function(obj){return typeof obj === 'object' && !(obj instanceof Array)},
      isArray: function(obj){return obj instanceof Array},
      isSimple: function(obj){return !this.isObject(obj) && !this.isArray(obj)},
      keys: function(obj){return Object.keys(obj)},
      stringify : function(obj){return JSON.stringify(obj)},
      created: function () {
      },
      display: function(data) {
        this.data = data;
      },
      ready: function () {
        try {
          this.data = JSON.parse(this.innerHTML)
        } catch(e) {
          this.data = { error : {
            msg : "Could not parse JSON",
            err : e
          }};
        }
      }
    });
  </script>

</polymer-element>
